.banking__nav {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media only screen and(max-width: 31.25em) {
    align-items: flex-start;
  }

  @media only screen and(max-width: 21.88em) {
    flex-direction: column;
    align-items: center;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--back {
    background-color: transparent;
    border: none;

    a {
      text-decoration: none;
      color: #555;
      font-size: 2.5rem;
    }
  }

  &--welcome {
    font-size: 2.5rem;
    font-weight: 700;
    color: #555;
    margin-left: 5rem;

    @media only screen and(max-width: 46.88em) {
      font-size: 1.75rem;
    }

    @media only screen and(max-width: 23.75em) {
      font-size: 1.25rem;
    }
  }
}

.login__input {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and(max-width: 31.25em) {
    flex-direction: column;
  }

  @media only screen and(max-width: 21.88em) {
    flex-direction: row;
  }

  input {
    padding: 1rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 3rem;

    @media only screen and(max-width: 40.63em) {
      padding: 0.5rem;
      font-size: 1rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }
  }

  &--btn {
    cursor: pointer;
    font-size: 2.5rem;
    color: #555;
    padding: 0.25rem 1rem;
    background-color: transparent;
    border: none;
  }
}

.app {
  width: 95vw;
  height: 95vh;
  background-color: rgb(33, 95, 90);
  border-radius: 2rem;
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: row;

  @media only screen and(max-width: 56.25em) {
    flex-direction: column;
  }

  &__navigation {
    flex-basis: 18%;
    padding: 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and(max-width: 68.75em) {
      padding: 1rem;
    }

    @media only screen and(max-width: 56.25em) {
      flex-direction: row;
    }

    @media only screen and(max-width: 46.88em) {
      padding: 0.25rem;
      flex-basis: 10%;
    }

    &--title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: orange;
      font-size: 2rem;
      text-align: center;

      @media only screen and(max-width: 56.25em) {
        margin-bottom: 0.5rem;
      }

      @media only screen and(max-width: 46.88em) {
        display: none;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;

      list-style: none;
      width: 95%;

      @media only screen and(max-width: 56.25em) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      @media only screen and(max-width: 46.88em) {
        margin-left: 3rem;
      }

      @media only screen and(max-width: 34.38em) {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 1.5rem;
        border-radius: 1rem;
        transition: all 0.25s;

        @media only screen and(max-width: 56.25em) {
          margin-bottom: 1.5rem;
        }

        @media only screen and(max-width: 46.88em) {
          padding: 0.5rem;
        }

        @media only screen and(max-width: 40.63em) {
          flex-direction: column;
        }

        @media only screen and(max-width: 34.38em) {
          padding: 0.25rem;
          flex-direction: row;
        }

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(17, 58, 55);
        }

        img {
          height: 2rem;
          width: 2rem;
          margin-right: 1.25rem;
          color: currentColor;

          @media only screen and(max-width: 56.25em) {
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        p {
          font-size: 1.5rem;
          color: #ddd;
          text-transform: uppercase;

          @media only screen and(max-width: 34.38em) {
            font-size: 1.25rem;
          }
        }
      }
    }

    &--timer {
      position: absolute;
      bottom: 3rem;
      font-size: 1.75rem;
      color: #fff;

      @media only screen and(max-width: 56.25em) {
        right: 1rem;
        top: 1rem;
      }

      @media only screen and(max-width: 46.88em) {
        left: 1rem;
      }

      @media only screen and(max-width: 34.38em) {
        display: none;
      }
    }
  }

  &-main {
    flex: 1;
    background-color: whitesmoke;
    border-radius: 2rem;

    &__header {
      height: 12%;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media only screen and(max-width: 25em) {
        flex-direction: column;
        margin-bottom: 3rem;
      }

      h1 {
        margin-left: 3rem;
      }

      span {
        font-size: 1.5rem;
        color: #555;

        @media only screen and(max-width: 25em) {
          margin-bottom: 1rem;
        }
      }

      img {
        height: 3rem;
        width: 3rem;
        margin-right: 3rem;

        @media only screen and(max-width: 56.25em) {
          height: 2.5rem;
          width: 2.5rem;
        }

        @media only screen and(max-width: 25em) {
          margin-bottom: 2rem;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: row;

      position: relative;
      height: 88%;
      width: 100%;

      @media only screen and(max-width: 40.63em) {
        flex-direction: column;
        align-items: center;
        min-height: 100%;
      }

      &--left {
        width: 90%;
        height: 100%;
      }

      &--right {
        position: relative;
        width: 90%;
        height: 100%;
      }

      &--history {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 90%;
        height: 90%;
        background-color: #fff;
        border-radius: 2rem;
        overflow: hidden;
        overflow-y: scroll;

        @media only screen and(max-width: 40.63em) {
          display: none;
        }
      }
    }
  }
}

.movements {
  padding: 2rem;

  @media only screen and(max-width: 56.25em) {
    padding: 1.5rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__type {
    color: #aaa;
  }

  &__circle {
    width: 4rem;
    height: 4rem;
    background-color: rgb(118, 189, 165);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width: 56.25em) {
      width: 3rem;
      height: 3rem;
    }

    &--initials {
      font-size: 1.25rem;
      color: #fff;
    }
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 700;
    width: 10rem;

    &--withdrawal {
      color: rgb(173, 50, 50);
    }

    &--deposit {
      color: rgb(56, 136, 56);
    }
  }

  &__date {
    font-weight: 700;
    color: #aaa;

    display: flex;
    align-items: center;
  }

  img {
    width: 4rem;
    height: 4rem;

    @media only screen and(max-width: 56.25em) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.my-cards {
  height: 88%;
  width: 100%;

  display: flex;
  flex-direction: column;

  &__header {
    font-size: 1.75rem;
    margin: 0 0 3rem 3rem;
  }

  &__card {
    position: relative;
    width: 40rem;
    height: 25rem;
    background: linear-gradient(
      to top right,
      rgb(103, 194, 164),
      rgb(55, 184, 201)
    );
    border-radius: 1.5rem;
    align-self: center;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;

    @media only screen and(max-width: 68.75em) {
      width: 35rem;
      height: 22rem;
    }

    @media only screen and(max-width: 59.38em) {
      width: 30rem;
      height: 18.75rem;
    }

    @media only screen and(max-width: 18.75em) {
      width: 25rem;
      height: 15.6rem;
    }

    &--top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 1rem 2rem;

      @media only screen and(max-width: 59.38em) {
        padding: 0.5rem 1rem;
      }

      p {
        font-size: 1.5rem;
        color: #ddd;
      }

      img {
        width: 7rem;
        height: 4rem;

        @media only screen and(max-width: 59.38em) {
          width: 5rem;
          height: 3rem;
        }
      }
    }

    &--center {
      font-size: 3.5rem;
      margin-left: 2rem;
      color: #fff;

      @media only screen and(max-width: 59.38em) {
        font-size: 2.75rem;
      }

      @media only screen and(max-width: 18.75em) {
        font-size: 2rem;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;

      position: absolute;
      bottom: 2rem;
      left: 2rem;

      p {
        font-size: 1.5rem;
        margin-right: 5rem;
        color: #ddd;

        @media only screen and(max-width: 18.75em) {
          display: none;
        }
      }

      span {
        font-size: 1.5rem;
        color: #ddd;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    padding: 0 5rem;

    @media only screen and(max-width: 34.38em) {
      padding: 0 1rem;
    }

    &--header {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 1.25rem;

      @media only screen and(max-width: 56.25em) {
        margin-bottom: 0.25rem;
      }
    }

    &--body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--left {
      font-size: 1.5rem;
      color: #888;
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: 1rem;

        @media only screen and(max-width: 56.25em) {
          margin-bottom: 0.25rem;
        }
      }
    }

    &--right {
      font-size: 1.5rem;
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: 1rem;

        @media only screen and(max-width: 56.25em) {
          margin-bottom: 0.25rem;
        }
      }
    }

    &--special {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      color: rgb(33, 95, 90);
    }
  }
}

.payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 88%;
  width: 100%;

  &__container {
    width: 40rem;
    height: 45rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, wheat, rgb(102, 97, 97));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width: 62.5em) {
      width: 35rem;
    }

    @media only screen and(max-width: 46.88em) {
      width: 30rem;
    }

    @media only screen and(max-width: 40.63em) {
      width: 35rem;
    }

    @media only screen and(max-width: 25em) {
      width: 30rem;
      justify-content: flex-start;
    }
  }

  &__header {
    font-size: 2rem;
    margin: 0 0 3rem 3rem;

    @media only screen and(max-width: 25em) {
      margin: 1rem 0;
    }
  }
}

.form__payment {
  width: 25rem;

  label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ddd;
  }

  &--cards {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @media only screen and(max-width: 25em) {
      margin-bottom: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &--value {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &--amount {
    width: 90%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @media only screen and(max-width: 25em) {
      margin-bottom: 0.5rem;
    }

    &:focus {
      outline: none;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;
  }

  &--currency {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }
  }

  &--btn {
    cursor: pointer;
    background-color: rgb(235, 157, 13);
    border: none;
    border-radius: 1rem;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;

    @media only screen and(max-width: 25em) {
      margin-top: 0;
    }

    &:active {
      transform: scale(0.99);
    }
  }
}

.request-loan {
  width: 100%;
  height: 88%;

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    position: relative;
    width: 45rem;
    height: 20rem;
    background: linear-gradient(
      to right,
      rgb(186, 197, 135),
      rgb(136, 187, 190)
    );
    border-radius: 2rem;
    padding: 4rem;

    @media only screen and(max-width: 71.88em) {
      width: 40rem;
    }

    @media only screen and(max-width: 62.5em) {
      width: 35rem;
      height: 17rem;
    }

    @media only screen and(max-width: 46.88em) {
      width: 30rem;
      height: 15rem;
    }

    @media only screen and(max-width: 40.63em) {
      width: 35rem;
      height: 17rem;
      margin-top: 2rem;
    }

    @media only screen and(max-width: 46.88em) {
      width: 30rem;
      height: 15rem;
    }

    @media only screen and(max-width: 18.75em) {
      width: 25rem;
      height: 12rem;
      padding: 1rem;
    }

    label {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
      margin-bottom: 1rem;
    }

    input {
      width: 70%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      cursor: pointer;
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      margin-left: 0.5rem;
      color: #fff;
      background-color: rgb(235, 157, 13);

      &:active {
        transform: scale(0.98);
      }
    }
  }

  &__approved {
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: 8rem;
    bottom: 8rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__rejected {
    width: 26rem;
    height: 18rem;
    position: absolute;
    left: 8rem;
    bottom: 3rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.saving-account {
  width: 100%;
  height: 88%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__header {
    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: 700;

      @media only screen and(max-width: 25em) {
        margin-top: 3rem;
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
      }
    }

    p {
      width: 100%;
      height: 2px;
      background-color: orange;
    }
  }

  &__amount {
    font-size: 3rem;
    color: orange;
    font-weight: 700;

    @media only screen and(max-width: 25em) {
      font-size: 2rem;
    }
  }

  &__calculation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 60%;

    @media only screen and(max-width: 71.88em) {
      width: 80%;
    }

    @media only screen and(max-width: 43.75em) {
      width: 90%;
    }

    @media only screen and(max-width: 25em) {
      flex-direction: column;
    }

    p {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    span {
      font-size: 2rem;
      font-weight: 700;
      margin-left: 1rem;
    }
  }

  &__profit {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      height: 3rem;
      width: 3rem;
    }

    span {
      color: orange;

      @media only screen and(max-width: 25em) {
        margin-bottom: 2rem;
      }

      @media only screen and(max-width: 18.75em) {
        margin-bottom: .5rem;
    }
  }

  &__rate {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      height: 3rem;
      width: 3rem;
    }
  }

  &__transfer {
    width: 65%;
    height: 10rem;
    background: linear-gradient(
      to bottom right,
      rgb(236, 186, 93),
      rgb(111, 211, 111)
    );
    border-radius: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width: 78.13em) {
      flex-direction: column;
    }

    @media only screen and(max-width: 40.63em) {
      margin: 3rem 0;
      padding: 2rem 0;
    }

    @media only screen and(max-width: 25em) {
      margin: 1.5rem 0;
    }

    @media only screen and(max-width: 18.75em) {
      margin: 1rem 0;
      height: 8rem;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      color: #fff;
      border: none;
      border-radius: 1rem;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      transition: all 0.5s;

      @media only screen and(max-width: 78.13em) {
        margin-top: 1rem;
      }

      &:hover {
        background-color: rgb(67, 109, 67);
      }
    }

    input {
      font-size: 1.5rem;
      color: #555;
      padding: 0.25rem;
      border: none;
      border-radius: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }
}

.overlay {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  z-index: 5;
}

.hidden {
  display: none;
}
